# Sampling multiplier 
We want a realistic sampling bias in our simulations. This sheet computes sampling multipliers for each country in our simulation by calculating the cases sequenced to number of cases ratio for each country, the most available dataset for this is COVID.

COVID sequencing data is obtained from https://www.biorxiv.org/content/10.1101/2024.07.12.603240v1
COVID case data is obtained from https://ourworldindata.org/covid-cases

In [82]:
import pandas as pd
import pycountry
unclean_seq_m = pd.read_csv('original_data/Viridian_2M_noShortDel_MAPLE_metaData.tsv', sep='\t')
cases_by_country = pd.read_csv('original_data/owid-covid-data.csv')

In [83]:
seq_m = unclean_seq_m[unclean_seq_m['country'].notna()]
seq_m = seq_m[seq_m['country']!= 'UNKNOWN']
seq_m.head()

,strain,collapsedTo,support,rootSupport,supportGroup,supportTo,mutationsInf,Ns,country,date,lineage
1,ERR4806745,ERR4806745_MinorSeqsClade,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom,2020-10-08,A
2,ERR5989690,ERR4806745_MinorSeqsClade,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom,2020,A
3,ERR6061709,ERR4806745_MinorSeqsClade,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom,2020,A
4,ERR5628278,ERR4806745_MinorSeqsClade,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom,2020,A
5,ERR4806964,ERR4806745_MinorSeqsClade,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom,2020-10-13,A

In [84]:
seq_count = seq_m.groupby('country').size()
def convert(country_name):
    country = pycountry.countries.get(name=country_name)
    if country is None:
        if country_name == 'Russia':
            return 'RUS'
        return country_name
    return country.alpha_3
seq_count.index = seq_count.index.map(lambda x: convert(x))
seq_count.head()

country
AGO      304
AUS    10605
AUT       21
BWA       35
BRA      500
dtype: int64

In [96]:
total_cases_by_country = cases_by_country.groupby('iso_code', as_index=True).aggregate({'new_cases':'sum'})
# Hong Kong is missing, using: https://www.worldometers.info/coronavirus/country/china-hong-kong-sar/

total_cases_by_country.loc['HKG', 'new_cases'] = 2937609.

In [104]:
sampling_proportions = pd.DataFrame(columns=['alpha2','proportion'])
new_index = 0
for country in seq_count.index:
    sampling_prop = seq_count[country]/total_cases_by_country.loc[country]['new_cases']
    sampling_proportions.loc[new_index] = [pycountry.countries.get(alpha_3=country).alpha_2]+[sampling_prop]
    new_index+=1
sampling_proportions['proportion'] = sampling_proportions['proportion']/sampling_proportions['proportion'].sum(axis=0)
sampling_proportions

   alpha2  proportion
0      AO    0.024503
1      AU    0.007745
2      AT    0.000030
3      BW    0.000917
4      BR    0.000115
5      CM    0.015977
6      CA    0.006688
7      CL    0.000456
8      CN    0.000004
9      HR    0.000099
10     EE    0.230056
11     ET    0.001452
12     FI    0.048622
13     FR    0.000195
14     DE    0.000021
15     HK    0.000599
16     HU    0.000058
17     IN    0.000988
18     IQ    0.000004
19     IL    0.000197
20     IT    0.000083
21     JP    0.000013
22     JO    0.001155
23     KE    0.000050
24     LV    0.015406
25     LB    0.002396
26     MW    0.018731
27     MY    0.000013
28     MU    0.004076
29     MX    0.000722
30     MA    0.000014
31     MZ    0.007816
32     NA    0.003214
33     MP    0.002936
34     NO    0.013746
35     PK    0.002510
36     PH    0.000047
37     PT    0.040836
38     RO    0.000007
39     RU    0.000031
40     SC    0.012544
41     SK    0.086493
42     ZA    0.008850
43     ES    0.000026
44     CH    0.000099
45     TH    0.000125
46     TL    0.004062
47     US    0.082200
48     UG    0.001157
49     GB    0.342192
50     ZW    0.009723

In [106]:
sampling_proportions.to_csv('output/sampling_multipliers.csv', index=False)